body {
	background-image: url("../images/background0.png");
	background-repeat: no-repeat;
	background-size: cover;
    	/*background: #123819;*/

}

#navbar0 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navbar0a {
	display: inline;
}

.navbar0b:link {
    	color: #FFC90E;
	background-color: #90091d; 
	font-weight: 800;
	text-decoration: none;
}

.navbar0b::visited {
	color: #fff4cc;
	background-color: #90091d; 
	font-weight: 800;
	text-decoration: none;
}

h1, p {
    color: #FFC90E;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    
}



h1 {
	background: #333333;
}


p {
	background: #004040; 
	
}

ul {
    color: #8eee05;
    background: #004040;
    font-family: "Trebuchet MS",sans-serif;
    font-weight: 800;
    
}

#slogan {
	font-style: italic;

}



#hero {
	display: block;
	margin: auto;
	width: 50%;

}

a:link {
    color: #ff00ff;
}

a:visited {
    color: #ffc0ff;
}
