body {
	background-image: url("../images/background0.png");
	background-repeat: no-repeat;
	background-size: cover;
    	/*background: #123819;*/

}

#nav0 {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #90091d;
	text-align: center;
	margin: 0 auto;
	display: inline;
	width: 900px;
}

#nav0 li {
    	display:inline;
	padding:0;
	margin:0;
}

#nav0 li a:link {
    display: block;
    color: #FFC90E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav0 li a:visited {
    display: block;
    color: #FFC90E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 
h1, p {
    color: #FFC90E;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    
}



h1 {
	background: #333333;
}


p {
	background: #004040; 
	
}

ul {
    color: #8eee05;
    background: #004040;
    font-family: "Trebuchet MS",sans-serif;
    font-weight: 800;
    
}

#slogan {
	font-style: italic;

}



#hero {
	display: block;
	margin: auto;
	width: 50%;

}

a:link {
    color: #ff00ff;
}

a:visited {
    color: #ffc0ff;
}
