body {
    background-color: #008080;
   
}

h1, p {
    color: #FFC90E;
    font-family: Helvetica, sans-serif;
    text-align: center;
    
}

#hero {
	display: block;
	margin: auto;
	width: 25%;

}